[user]
	email = edward93@gmail.com
	name = stolmen
[core]
	editor = vi
[alias]
	s = status
	p = push
	u = pull
	co = checkout
    c = commit
[push]
    autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[blame]
    ignoreRevsFile = .git-blame-ignore-revs-file
