[user]
	email = edward.ong@tiliter.com
	name = edward.ong.tiliter
[core]
	editor = nvim
[alias]
	s = status
	p = push
	u = pull
	co = checkout
    c = commit
    du = ! git checkout master && git pull
[push]
    autoSetupRemote = true
[pull]
    rebase = true
